/* Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1; 
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #8720c7;
    font-family: 'Manjari', sans-serif;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #5f3e73;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    /* back, color de contorno del header y footer hijos de container */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98, 14, 113, 0.989) 100%, rgba(0,212,255,1) 100%);;
    color: whitesmoke;

}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #5f3e73;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #5f3e73;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #5f3e73;
    color: #ffffff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* Hacer todo el texto de los links blanco y sin decoración*/
a {
  color: white;
  text-decoration: none;
}


h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}


img {
  width: 100%;
}

/* saca el estilo x defecto */
li {
  list-style-type: none;
}



p {
  font-size: 20px;
  margin: 10px 0;
}



.container1 {
  margin: 0 auto;
  max-width: 800px;
  overflow: visible;
}

/* ESTILOS AL NAV*/

nav{
  margin: 2.5rem;
}
nav ul{
   display: flex;
   justify-content: space-evenly;
}
nav ul li{
   list-style: none;
   padding: 0.4rem;
   border-radius: 0.25em;
   text-transform: uppercase;
   
}

a {
  background-color: rgb(2,0,36);
  transition: background-color .10s;
}

a:hover {
  background: rgb(8, 1, 15);
  background: linear-gradient(90deg, rgba(153, 153, 201, 0.356) 100%, rgba(125, 65, 136, 0.989) 100%);
}

/* CONTENEDOR PARA BOTON*/
.container2 {
  position: relative;
  width: 100%;
}

/* Imagen responsive */
.container2 img {
  width: 100%;
  height: auto;
}

/* animacion de imagen */
.container2 .btn {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container2 .btn:hover {
  background-color: #2908cf;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
 
  .header {
      text-align: center;
  }

  .container .header {
    grid-row: 1 / span 3;
  }

  .container .content {
      grid-column: 1 / -1;
  }
  .container .sidebar {
      grid-column: 1 / 6;
  }

  .container .related-post {
      grid-column: 1/-1;
  }
}

@media screen and (max-width: 1024px) {
  .container .sidebar {
    grid-column: 1 / 6;
}
.container .content {
  grid-column: 1 / -1;
}
}

footer {
  text-align: center;
}

